<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leonardoribeiro.seriezando">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional : -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">

        <meta-data android:name="com.appsee.ApiKey" android:value="d3580c2a1b69415fbb5fc90592bc18d0" />

        <activity android:name=".MVP.Activity.SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MVP.Activity.Login.LoginActivity" />
        <activity android:name=".MVP.Activity.Register.RegisterActivity" />
        <activity android:name=".MVP.Activity.Main.MainActivity" />
        <activity android:name=".MVP.Activity.InfoSerie.InfoSerieActivity" />
        <activity android:name=".MVP.Activity.Perfil.PerfilActivity" />
        <activity android:name=".MVP.Activity.MinhaLista.MinhaListaActivity"/>

        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>